<div class="columns">
  <div class="column is-half">
    <img src="<%= puppy.img %>" alt="<%= puppy.name %>">
  </div>
  <div class="column is-half">
    <h2 class="title is-2"><%= puppy.name %></h2>

    <h4 class="subtitle is-4">From <%= puppy.countryOfOrigin %></h4>

    <p>Some common <%= puppy.name.toLowerCase() %> colours are:</p>

    <ul>
      <% puppy.colors.forEach(color => { %>
        <li><%= color %></li>
        <% }) %>
      </ul>
  </div>
</div>
