<div class="columns is-mobile">
  <div class="column is-half-desktop is-half-tablet is-half-mobile">
    <img src="<%= img %>" alt="<%= name %>">

    <% if(locals.isLoggedIn) { %>
      <div class="section columns is-mobile">
        <div class="column is-half">
          <a class="button is-info is-rounded" href="/puppies/<%= id %>/edit">Edit</a>
        </div>
        <div class="column is-half">
          <form action="/puppies/<%= id %>?_method=DELETE" method="post">
            <button class="button is-danger is-rounded">DELETE</button>
          </form>
        </div>
      </div>
    <% } %>

  </div>
  <div class="column is-half-desktop is-half-tablet is-half-mobile">
    <h2 class="title is-2"><%= name %></h2>

    <h4 class="subtitle is-4">From <%= countryOfOrigin %></h4>

    <% if(colors) { %>
      <p>Some common <%= name.toLowerCase() %> colours are:</p>

      <ul class="tags">
        <% colors.forEach(color => { %>
          <li class="tag is-info is-medium"><%= color %></li>
          <% }) %>
        </ul>
    <% } %>


  </div>
</div>
