<div class="columns is-mobile">
  <div class="column is-half-desktop is-half-tablet is-half-mobile">
    <img src="<%= img %>" alt="<%= name %>">

    <% if(locals.isLoggedIn) { %>
      <div class="section columns is-mobile">
        <div class="column is-half">
          <a class="button is-info is-rounded" href="/puppies/<%= id %>/edit">Edit</a>
        </div>
        <div class="column is-half">
          <form action="/puppies/<%= id %>?_method=DELETE" method="post">
            <button class="button is-danger is-rounded">DELETE</button>
          </form>
        </div>
      </div>
    <% } %>

  </div>
  <div class="column is-half-desktop is-half-tablet is-half-mobile">
    <h2 class="title is-2"><%= name %></h2>

    <h4 class="subtitle is-4">From <%= countryOfOrigin %></h4>

    <% if(colors) { %>
      <p>Some common <%= name.toLowerCase() %> colours are:</p>

      <ul class="tags">
        <% colors.forEach(color => { %>
          <li class="tag is-info is-medium"><%= color %></li>
          <% }) %>
        </ul>
    <% } %>
    <ul>
    <% comments.forEach(comment => { %>
      <li><strong><%= comment.user %></strong></li>
      <li>
        <%= comment.content %>
        <form class="delete-form" method="POST" action="/puppies/<%= _id %>/comments/<%= comment._id %>?_method=DELETE">
          <button class="delete-button"></button>
        </form>
      </li>
      <li><%= 'ðŸ¶'.repeat(comment.rating) %></li>
    <% }) %>
  </ul>
  <hr />
    <% if(locals.isLoggedIn) { %>
      <form action='/puppies/<%= id %>/comments' method="post">
        <label for='user'>User </label>
        <input name='user' value='<%= locals.currentUser.username %>' hidden/>
        <label for='rating'>Rating (1 to 10) </label>
        <input name='rating' type='Number' min='1' max='10'/>
        <br />
        <label for='content'>Comments </label>
        <textarea name='content'></textarea>
        <button>Submit comment</button>
      </form>
      <% } %>

  </div>
</div>
