<h1 class="title is-1">Tous Les Puppies</h1>
<p class="content"><%= puppies.length %> puppies added so far!</p>
<div class="columns is-multiline">
  <% puppies.forEach(puppy => { %>
    <div class="column is-3">
      <div class="card">
        <a href = "/puppies/<%= puppy.id %>">
          <img src=<%= puppy.img %> alt=<%= puppy.name %> />
          <h3 class="subtitle is-3"><%= puppy.name %></h3>
          <h4 class="subtitle is-4"><%= puppy.countryOfOrigin %></h4>
        </a>
      </div>
    </div>
  <% }) %>
</div>
