<main>
  <h1><%= name %></h1>
  <p>Ingredients:
    <% ingredients.forEach(ingredient => { %>
      <span class="tag"><%= ingredient %></span>
      <% }) %>
  </p>
  <img class="show-image" src="<%= image %>"/>
  <% if (locals.isLoggedIn) { %>
    <div class="buttons">
    <form action="/cocktails/<%= _id %>?_method=DELETE" method="post">
    <button class="button">Delete</button>
    </form>
    <a class="button" href="/cocktails/<%= _id %>/edit">Edit</a>
    </div>
    <div>
      <% ratings.forEach(rating => { %>
        <div>
          <span style="font-weight: bold;"><%= rating.username %></span>
          <span><%= rating.score %></span>
        </div>
        <div>
          <span><%= rating.comment %></span>
          <span>
            <form method="POST" action="/cocktails/<%= _id %>/ratings/<%= rating._id %>?_method=DELETE">
              <button>x</button>
            </form>
          </span>
        </div>
      <% }) %>
    </div>
    <div>
      <form method="POST" action="/cocktails/<%= _id %>/ratings">
        <textarea name="comment"></textarea>
        <input name="username" type="hidden" value="<%= locals.currentUser.username %>"/>
        <input name="score" type="number" min="0" max="5"/>
        <button>Rate this cocktail</button>
      </form>
    </div>
  <% } %>
</main>
